/Docs/*
.vscode/

# Exclude temporary files:
*.tmp
# Word temporary
~$*.doc*
# Excel temporary
~$*.xls*
# PowerPoint temporary
~$*.ppt*
# Visio autosave temporary files
*.~vsd*

# Funcpack
.funcpack

# Build temp package lock
pipelines/package-lock.json

bicep/parameters.local.json
local.settings.json
test/settings.example.dan.js

__azurite__
