<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ridesharedrivers.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e223f1b3-d19b-4cfa-98e9-bc9be62717bc/resourceGroups/serverless-microservices/providers/Microsoft.Web/sites/RideshareDrivers</ResourceId>
    <UserName>$RideshareDrivers</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ridesharedrivers.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>